# =========================
# Environment
# =========================
.env

# =========================
# .NET / C#
# =========================
bin/
obj/
.vs/

# =========================
# Build outputs
# =========================
*.exe
*.dll
*.pdb

# =========================
# ONNX / Native runtimes
# =========================
runtimes/

# =========================
# Uploads / arquivos temporários
# =========================
uploads/
*.mp4

# =========================
# Python (caso rode scripts aqui)
# =========================
__pycache__/
*.pyc

# =========================
# Logs
# =========================
*.log
